service/salt/fs/projects/ploutos/files/lib/schema/ownership4Document.xsd.xml

<?xml version="1.0"?>

<!-- Filename: ownership4Document.xsd.xml -->
<!-- Purpose:  Defines the elements specific to a 4 Ownership primary document. -->
<!-- Version:  X0306 -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

<xs:include schemaLocation=".//ownershipDocumentCommon.xsd.xml"/>

    <!-- this schema applies exclusively to a "4" document -->
    <xs:simpleType name="DOCUMENT_TYPE">
        <xs:restriction base="xs:string">
            <xs:pattern value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TRANS_FORM4_TYPE_PICKLIST">
        <xs:annotation>
            <xs:documentation>
                A "4" document can have security transactions of types 4 and 5.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="4|5"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="TRANSACTION_CODING_FOR_4">
        <xs:annotation>
            <xs:documentation>
                The transactionFormType can be 4 or 5.
                The transactionCode is mandatory.
                The equitySwapInvolved flag is mandatory.
                A "4" transaction is assumed on-time.
                A "5" transaction is assumed early.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="transactionFormType"    type="TRANS_FORM4_TYPE_PICKLIST" minOccurs="1"/>
            <xs:element name="transactionCode"        type="TRANS_CODE_PICKLIST"       minOccurs="1"/>
            <xs:element name="equitySwapInvolved"     type="xs:boolean"                minOccurs="1"/>
            <xs:element name="footnoteId"             type="FOOTNOTE_ID"               minOccurs="0" maxOccurs="99"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NONDERIVATIVE_TRANSACTION">
        <xs:sequence>
            <xs:element name="securityTitle"                type="SECURITY_TITLE"             minOccurs="1"/>
            <xs:element name="transactionDate"              type="DATE_WITH_FOOTNOTE"         minOccurs="1"/>
            <xs:element name="deemedExecutionDate"          type="DATE_AND_OR_FOOTNOTE"       minOccurs="0"/>
            <xs:element name="transactionCoding"            type="TRANSACTION_CODING_FOR_4"   minOccurs="0"/>
            <xs:element name="transactionTimeliness"        type="TRANSACTION_TIMELINESS"     minOccurs="0"/>
            <xs:element name="transactionAmounts"           type="NONDERIV_TRANSACT_AMOUNTS"  minOccurs="1"/>
            <xs:element name="postTransactionAmounts"       type="POST_TRANSACTION_AMOUNTS"   minOccurs="1"/>
            <xs:element name="ownershipNature"              type="OWNERSHIP_NATURE"           minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DERIVATIVE_TRANSACTION">
        <xs:sequence>
            <xs:element name="securityTitle"                type="SECURITY_TITLE"           minOccurs="1"/>
            <xs:element name="conversionOrExercisePrice"    type="OPT_NUMBER_WITH_FOOTNOTE" minOccurs="1"/>
            <xs:element name="transactionDate"              type="DATE_WITH_FOOTNOTE"       minOccurs="1"/>
            <xs:element name="deemedExecutionDate"          type="DATE_AND_OR_FOOTNOTE"     minOccurs="0"/>
            <xs:element name="transactionCoding"            type="TRANSACTION_CODING_FOR_4" minOccurs="0"/>
            <xs:element name="transactionTimeliness"        type="TRANSACTION_TIMELINESS"   minOccurs="0"/>
            <xs:element name="transactionAmounts"           type="DERIV_TRANSACT_NO_FOOT"   minOccurs="1"/>
            <xs:element name="exerciseDate"                 type="OPT_DATE_WITH_FOOTNOTE"   minOccurs="1"/>
            <xs:element name="expirationDate"               type="OPT_DATE_WITH_FOOTNOTE"   minOccurs="1"/>
            <xs:element name="underlyingSecurity"           type="UNDERLYING_SECURITY"      minOccurs="1"/>
            <xs:element name="postTransactionAmounts"       type="POST_TRANSACTION_AMOUNTS" minOccurs="1"/>
            <xs:element name="ownershipNature"              type="OWNERSHIP_NATURE"         minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NONDERIVATIVE_HOLDING">
        <xs:sequence>
            <xs:element name="securityTitle"                type="SECURITY_TITLE"             minOccurs="1"/>
            <xs:element name="postTransactionAmounts"       type="POST_TRANSACTION_AMOUNTS"   minOccurs="1"/>
            <xs:element name="ownershipNature"              type="OWNERSHIP_NATURE"           minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DERIVATIVE_HOLDING">
        <xs:sequence>
            <xs:element name="securityTitle"                type="SECURITY_TITLE"             minOccurs="1"/>
            <xs:element name="conversionOrExercisePrice"    type="OPT_NUMBER_WITH_FOOTNOTE"   minOccurs="1"/>
            <xs:element name="exerciseDate"                 type="OPT_DATE_WITH_FOOTNOTE"     minOccurs="1"/>
            <xs:element name="expirationDate"               type="OPT_DATE_WITH_FOOTNOTE"     minOccurs="1"/>
            <xs:element name="underlyingSecurity"           type="UNDERLYING_SECURITY"        minOccurs="1"/>
            <xs:element name="postTransactionAmounts"       type="POST_TRANSACTION_AMOUNTS"   minOccurs="1"/>
            <xs:element name="ownershipNature"              type="OWNERSHIP_NATURE"           minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NONDERIVATIVE_TABLE">
        <xs:annotation>
            <xs:documentation>
                Can have up to 30 entries in the Non-Derivative Table. This is Table 1 on the printed form.
                Can have any combination of Transactions and Holdings in any order.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="30">
            <xs:element name="nonDerivativeTransaction" type="NONDERIVATIVE_TRANSACTION"/>
            <xs:element name="nonDerivativeHolding"     type="NONDERIVATIVE_HOLDING"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="DERIVATIVE_TABLE">
        <xs:annotation>
            <xs:documentation>
                Can have up to 30 entries in the Derivative Table. This is Table 2 on the printed form.
                Can have any combination of Transactions and Holdings in any order.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="30">
            <xs:element name="derivativeTransaction" type="DERIVATIVE_TRANSACTION"/>
            <xs:element name="derivativeHolding"     type="DERIVATIVE_HOLDING"/>
        </xs:choice>
    </xs:complexType>

    <xs:element name="ownershipDocument">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="schemaVersion"             type="SCHEMA_VERSION"       minOccurs="0" maxOccurs="1"/>
                <xs:element name="documentType"              type="DOCUMENT_TYPE"        minOccurs="1" maxOccurs="1"/>
                <xs:element name="periodOfReport"            type="xs:date"              minOccurs="1" maxOccurs="1"/>
                <xs:element name="notSubjectToSection16"     type="xs:boolean"           minOccurs="0" maxOccurs="1"/>
                <xs:element name="issuer"                    type="ISSUER"               minOccurs="1" maxOccurs="1"/>
                <xs:element name="reportingOwner"            type="REPORTING_OWNER"      minOccurs="1" maxOccurs="10"/>
                <xs:element name="nonDerivativeTable"        type="NONDERIVATIVE_TABLE"  minOccurs="0" maxOccurs="1"/>
                <xs:element name="derivativeTable"           type="DERIVATIVE_TABLE"     minOccurs="0" maxOccurs="1"/>
                <xs:element name="footnotes"                 type="FOOTNOTE_GROUP"       minOccurs="0" maxOccurs="1"/>
                <xs:element name="remarks"                   type="STRING_2000"          minOccurs="0" maxOccurs="1"/>
                <xs:element name="ownerSignature"            type="SIGNATURE"            minOccurs="1" maxOccurs="10"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
